body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: pink;
    height: 170px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
}

h2 {
    display: flex;
    text-align: center;
    align-items: center;
}

h4 {
    text-align: center;
} 

nav {
  background-color: rgb(25,33,41);
}

.nav-bar {
  padding: 14px 0 14px 0;
}

.nav-bar a { 
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-bar-ul {   
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

section{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    padding: 20px;
} 

.content{
    padding: 20px;
    font-size: 15px ;
    text-align: justify;
    background-color: rgb(196, 235, 247);
    display: flex;
    flex-direction: column;
}

footer{
    margin: 0;
    padding: 0;
    background-color:aquamarine;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer{
    margin: 0;
    padding: 0;
    font-size: 15px ;
    text-align: justify;
}

footer ul{
    list-style-type: none;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.img{
    width: 90%;
    height: auto;
}

.ej{
    max-width: 100%;
}